<div class="p-4 bg-gray-50 min-h-screen">
  <h1 class="text-2xl font-bold mb-4 text-gray-800">Explorer</h1>
  <ul class="tree">
    <ng-container *ngFor="let node of treeData">
      <li>
        <div
          class="flex items-center cursor-pointer hover:bg-gray-200 p-2 rounded"
          (click)="toggleNode(node)"
        >
          <mat-icon class="mr-2">
            {{ node.isFolder ? (node.expanded ? 'folder_open' : 'folder') : 'insert_drive_file' }}
          </mat-icon>
          <span>{{ node.name }}</span>
        </div>
        <ul *ngIf="node.expanded && node.children" class="pl-4">
          <ng-container *ngFor="let child of node.children">
            <li>
              <div
                class="flex items-center cursor-pointer hover:bg-gray-200 p-2 rounded"
                (click)="toggleNode(child)"
              >
                <mat-icon class="mr-2">
                  {{ child.isFolder ? (child.expanded ? 'folder_open' : 'folder') : 'insert_drive_file' }}
                </mat-icon>
                <span>{{ child.name }}</span>
              </div>
              <ul *ngIf="child.expanded && child.children" class="pl-4"></ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
