<div class="flex flex-col min-h-screen bg-gradient-to-r from-custom-gray to-custom-blue">
  <mat-toolbar>
    <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="menu" class="ml-auto">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/todo']">My To-Do List</button>
    <button mat-menu-item [routerLink]="['/explorer']">My Explorer</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <router-outlet></router-outlet>
</div>